In [1]:
import pandas as pd
import seaborn as sns

tips=sns.load_dataset("tips")

In [5]:
print(tips.shape)

(244, 8)

In [4]:
tips['smoker_str']=tips['smoker'].astype(str)
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
smoker_str      object
dtype: object

In [6]:
tips.head()

   total_bill   tip     sex smoker  day    time  size smoker_str
0       16.99  1.01  Female     No  Sun  Dinner     2         No
1       10.34  1.66    Male     No  Sun  Dinner     3         No
2       21.01  3.50    Male     No  Sun  Dinner     3         No
3       23.68  3.31    Male     No  Sun  Dinner     2         No
4       24.59  3.61  Female     No  Sun  Dinner     4         No

In [9]:
tips['total_bill']=tips['total_bill'].astype(str)
print(tips.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
smoker_str      object
dtype: object

In [10]:
tips['total_bill']=tips['total_bill'].astype(float)
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
smoker_str      object
dtype: object

In [18]:
tips_sub_miss=tips.head(10)
tips_sub_miss.loc[[1,3,5,7],['total_bill']]='missing'

In [19]:
tips_sub_miss['total_bill'] =pd.to_numeric(tips_sub_miss['total_bill'],
                                          errors='ignore')
print(tips_sub_miss.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
smoker_str      object
dtype: object

C:\Users\admin\AppData\Local\Temp\ipykernel_14316\2820146683.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss['total_bill'] =pd.to_numeric(tips_sub_miss['total_bill'],

In [20]:
tips_sub_miss['total_bill'] =pd.to_numeric(tips_sub_miss['total_bill'],
                                          errors='coerce')
print(tips_sub_miss.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
smoker_str      object
dtype: object

C:\Users\admin\AppData\Local\Temp\ipykernel_14316\605171373.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss['total_bill'] =pd.to_numeric(tips_sub_miss['total_bill'],

In [22]:
tips['smoker']=tips['smoker'].astype('category')
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    object
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   smoker_str  244 non-null    object
dtypes: category(4), float64(1), int64(1), object(2)
memory usage: 9.3+ KB