## 연습

In [2]:
import pandas as pd

In [3]:
skill = pd.DataFrame({
    '레벨':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
         ,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40
         ,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60],
    '파우더' : [0,1,1,2,2,3,3,4,4,5,5,6,6,7,7,8,8,9,9,10,
                    1,1,2,2,3,3,4,4,5,5,6,6,7,7,8,8,9,9,10,10,
                    2,4,6,8,10,12,14,16,18,20,20,22,22,24,24,26,26,28,29,30],
    '골드' : [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,
        20,26,32,38,44,50,56,62,68,74,80,86,92,98,104,110,116,122,128,134,
       140,156,172,188,204,220,236,252,268,284,320,340,360,380,400,420,440,
           460,480,500],
    '단계' : ['0','일반','일반','일반','일반','일반','일반','일반','일반','일반'
           ,'일반','일반','일반','일반','일반','일반','일반','일반','일반','일반'
           ,'신비','신비','신비','신비','신비','신비','신비','신비','신비','신비'
            ,'신비','신비','신비','신비','신비','신비','신비','신비','신비','신비'
            ,'빛','빛','빛','빛','빛','빛','빛','빛','빛','빛'
           ,'빛','빛','빛','빛','빛','빛','빛','빛','빛','빛']}
)
print(skill)
skill.to_csv('./data/skill.csv')

    레벨  파우더   골드  단계
0    1    0    0   0
1    2    1    1  일반
2    3    1    2  일반
3    4    2    3  일반
4    5    2    4  일반
5    6    3    5  일반
6    7    3    6  일반
7    8    4    7  일반
8    9    4    8  일반
9   10    5    9  일반
10  11    5   10  일반
11  12    6   11  일반
12  13    6   12  일반
13  14    7   13  일반
14  15    7   14  일반
15  16    8   15  일반
16  17    8   16  일반
17  18    9   17  일반
18  19    9   18  일반
19  20   10   19  일반
20  21    1   20  신비
21  22    1   26  신비
22  23    2   32  신비
23  24    2   38  신비
24  25    3   44  신비
25  26    3   50  신비
26  27    4   56  신비
27  28    4   62  신비
28  29    5   68  신비
29  30    5   74  신비
30  31    6   80  신비
31  32    6   86  신비
32  33    7   92  신비
33  34    7   98  신비
34  35    8  104  신비
35  36    8  110  신비
36  37    9  116  신비
37  38    9  122  신비
38  39   10  128  신비
39  40   10  134  신비
40  41    2  140   빛
41  42    4  156   빛
42  43    6  172   빛
43  44    8  188   빛
44  45   10  204   빛
45  46   12  220   빛
46  47   14  236   빛
47  48   16  252   빛
48  49   18  268   빛
49  50   20  284   빛
50  51   20  320   빛
51  52   22  340   빛
52  53   22  360   빛
53  54   24  380   빛
54  55   24  400   빛
55  56   26  420   빛
56  57   26  440   빛
57  58   28  460   빛
58  59   29  480   빛
59  60   30  500   빛

In [4]:
sk=pd.read_csv('./data/skill.csv',index_col=0)

In [5]:
sk['골드']=sk['골드']*100

In [6]:
sk1=sk.loc[:,['레벨','파우더','골드','단계']]

In [7]:
sk1.style.hide_index()

C:\Users\admin\AppData\Local\Temp\ipykernel_7176\246485924.py:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  sk1.style.hide_index()

In [22]:
x=0
i=int(input(x))
k=sk1.loc[i-1]
if i in range(1,60):
    print(k)

056
레벨        56
파우더       26
골드     42000
단계         빛
Name: 55, dtype: object