In [1]:
import pandas as pd

In [2]:
file_path='./data/exam_sample.csv'
df=pd.read_csv(file_path,encoding='euc-kr')

In [6]:
print(df['math'].max())
print(df['math'].min())

90
20

In [7]:
##cut() 측정 데이터를 동일한 간격으로 구분할 때 사용

pd.cut(df['math'],3)

0    (43.333, 66.667]
1    (43.333, 66.667]
2    (43.333, 66.667]
3     (19.93, 43.333]
4      (66.667, 90.0]
5    (43.333, 66.667]
6      (66.667, 90.0]
7      (66.667, 90.0]
8     (19.93, 43.333]
9    (43.333, 66.667]
Name: math, dtype: category
Categories (3, interval[float64, right]): [(19.93, 43.333] < (43.333, 66.667] < (66.667, 90.0]]

In [12]:
df1= pd.cut(df['math'],3,labels=False)

In [15]:
df1

0    1
1    1
2    1
3    0
4    2
5    1
6    2
7    2
8    0
9    1
Name: math, dtype: int64

In [20]:
df2=df['math'].groupby(df1)
df2.head()

0    50
1    60
2    45
3    30
4    90
5    50
6    80
7    90
8    20
9    50
Name: math, dtype: int64

In [21]:
df2.agg(['count','mean','std','min','max'])

      count       mean       std  min  max
math
0         2  25.000000  7.071068   20   30
1         5  51.000000  5.477226   45   60
2         3  86.666667  5.773503   80   90

In [23]:
#유사한 값들을 5구간으로 나누고 ㅁㄲ음
d.qcut(df['math'],5)

0      (42.0, 50.0]
1      (54.0, 82.0]
2      (42.0, 50.0]
3    (19.999, 42.0]
4      (82.0, 90.0]
5      (42.0, 50.0]
6      (54.0, 82.0]
7      (82.0, 90.0]
8    (19.999, 42.0]
9      (42.0, 50.0]
Name: math, dtype: category
Categories (5, interval[float64, right]): [(19.999, 42.0] < (42.0, 50.0] < (50.0, 54.0] < (54.0, 82.0] < (82.0, 90.0]]

In [24]:
pd.qcut(df['math'],5,labels=False)

0    1
1    3
2    1
3    0
4    4
5    1
6    3
7    4
8    0
9    1
Name: math, dtype: int64